@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/*#home::before {
  display: block;
  content: '';
  height: 60px;
}*/

/*#fs-banner {
  width: 200%;
}*/